/* 1. Use a more-intuitive box-sizing model */
*, *::before, *::after {
    box-sizing: border-box;
  }
  
  /* 2. Remove default margin */
  * {
    margin: 0;
  }
  
  body {
    /* 3. Add accessible line-height */
    line-height: 1.5;
    /* 4. Improve text rendering */
    -webkit-font-smoothing: antialiased;
  }
  
  /* 5. Improve media defaults */
  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }
  
  /* 6. Inherit fonts for form controls */
  input, button, textarea, select {
    font: inherit;
  }
  
  /* 7. Avoid text overflows */
  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }
  
  /* 8. Improve line wrapping */
  p {
    text-wrap: pretty;
  }
  h1, h2, h3, h4, h5, h6 {
    text-wrap: balance;
  }
  
  /*
    9. Create a root stacking context
  */
  #root, #__next {
    isolation: isolate;
  }

h1 {
    font-family: "Yuji Mai";
}
body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
}
header, footer, #container {
    background-color: beige;
    padding: 30px;
    border: 2px solid black;
}
main {
    display: flex;
    justify-content: center;
    padding: 160px;
}
#container {
    border-radius: 20px;
    width: 25%;
}
button, input {
    padding: 2px;
}
label, input {
    display: block;
}
input {
    max-width: 100%;
}
.choice {
    display: inline;
}
footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    text-align: center;
}
.radio {
    display: flex;
    gap: 10px;
}
@media(max-width: 700px){
  #container {
    width: 100%;
  }
}